@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #080808;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #facc15;
  color: black;
}